/* Colors */

$green: #779A3E;
$red: #99381F;
$orange: #D08902;
$blue: #264B59;
$maroon: #592646;
$purple: #2C2659;
$footer-grey: #272727;
$sitemap-grey: #E4E4E4;
$black: #282828;
$header-black: #424242;