/* Header */

header {
	background: #000;
	font-family: 'Roboto', sans-serif;
	height: 105px;
	padding: 0;
	.searchBox {
		right: -175px;
		position: absolute;
		width: 333px;
		.SmartSearchTextbox {
			width: 60%;
			margin-right: 15%;
			height: 35px;
			float: right;
			background: #EBEBEB;
			border: none;
			padding: 0 5px;
		}
		.SmartSearchButton {
			width: 25%;
			height: 35px;
			position: static;
			border: none;
			outline: none;
			background: $orange;
			color: #ffffff;
			font-family: 'TideSans-300LilKahuna';
			font-size: 11px;
			&:hover {
				background: $red;
				text-decoration: none;
			}
		}
	}
	.search-close-button {
		font-family: "FontAwesome";
		font-size: 22px;
		position: absolute;
		right: 0;
		top: 0;
		background: $red;
		width: 15%;
		height: 35px;
		text-align: center;
		line-height: 35px;
		color: #ffffff;
		cursor: pointer;
		i {
			margin-top: 6px;
		}
	}
	.utility-wrapper {
		overflow: hidden;
		width: 100%;
		height: 40px;
		position: relative;
	}
	ul#utilityNav {
		a {
			@include link-hover;
		}
	}
	ul.search-button {
		color: $orange;
		float: left;
		font-size: 19px;
		.fa {
			padding-top: 10px;
		}
		&:hover {
			color: $red;
			cursor: pointer;
		}
	}
	.search-button.search-open {
		color: $red;
	}
	ul.search-button.nav li a:before,
	ul#utilityNav li a:before {
    margin-right: 4px;
    font-family: "FontAwesome"
	}
	ul#utilityNav {
		float: right;
		li {
			a {
			}
		}
	}
	#headerPhoneNum {
		color: $red;
		font-weight: 500;
		margin-left: 15px;
		padding-top: 10px;
	}
}

#site-logo {
	align-items: center;
	display: flex;
	height: 95px;
	width: 175px;
	@include breakpoint(small) {
		height: 105px;
		width: auto;
	}
	img {
		max-width: 100%;
		width: 250px;
	}
}


// Google Translate

#google_translate_element {
	margin: 0;
	padding: 1px 0 0;
}
img.goog-te-gadget-icon {
	display: none;
}
.goog-te-menu-value span{
	color: #fff !important;
}
.goog-te-menu-value span:hover{
	text-decoration: none;
}
.goog-te-gadget-simple{
	background-color: transparent !important; 
	border: none !important; 
}
a.goog-te-menu-value:hover {
	text-decoration: none !important;
}