/* Header */

header {
	background: #000;
	border-bottom: 4px solid #CBC8C7;
	font-family: 'Roboto', sans-serif;
	height: 115px;
	padding: 0;
	position: relative;
	transition: height 0.5s;
	z-index: 1005;
	#inner-header-wrapper {
		background: #000;
		height: 100%;
		position: relative;
		// z-index: 2;
		@include breakpoint(medium) {
			padding: 0 30px;
		}
	}
	.searchBox {
		right: -175px;
		position: absolute;
		width: 333px;
		.SmartSearchTextbox {
			width: 60%;
			margin-right: 15%;
			height: 35px;
			float: right;
			background: #EBEBEB;
			border: none;
			padding: 0 5px;
		}
		.SmartSearchButton {
			width: 25%;
			height: 35px;
			position: static;
			border: none;
			outline: none;
			background: $orange;
			color: #ffffff;
			font-family: 'TideSans-300LilKahuna';
			font-size: 11px;
			&:hover {
				background: $red;
				text-decoration: none;
			}
		}
	}
	.search-close-button {
		font-family: "FontAwesome";
		font-size: 22px;
		position: absolute;
		right: 0;
		top: 0;
		background: $red;
		width: 15%;
		height: 35px;
		text-align: center;
		line-height: 35px;
		color: #ffffff;
		cursor: pointer;
		i {
			margin-top: 6px;
		}
	}
	.utility-wrapper {
		overflow: hidden;
		width: 100%;
		height: 40px;
		position: relative;
	}
	ul#utilityNav {
		a {
			@include link-hover;
		}
	}
	ul.search-button {
		color: $orange;
		float: left;
		font-size: 19px;
		.fa {
			padding-top: 10px;
		}
		&:hover {
			color: $red;
			cursor: pointer;
		}
	}
	.search-button.search-open {
		color: $red;
	}
	ul.search-button.nav li a:before,
	ul#utilityNav li a:before {
    margin-right: 4px;
    font-family: "FontAwesome"
	}
	ul#utilityNav {
		float: right;
		li {
			a {
			}
		}
	}
	#headerPhoneNum {
		color: $red;
		font-weight: 500;
		margin-left: 15px;
		padding-top: 10px;
	}
}

header .col-md-2 {
	@include breakpoint(small) {
		padding: 0;
	}
}

#site-logo {
	-webkit-align-items: center;
	align-items: center;
	display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
	height: 111px;
	width: 175px;
	@include breakpoint(small) {
		height: 105px;
		width: auto;
	}
	img {
		max-width: 100%;
		width: 225px;
	}
	a {
		height: 59px;
		width: 155px;
		background: url("/Energize/images/logo.png");
		background-size: cover;
		@include breakpoint(small) {
		}
		@include breakpoint(large) {
			height: 86px;
			width: 225px;
		}
		transition: height 0.5s, width 0.5s, background 0.5s;
	}
}


// Google Translate

#google_translate_element {
	margin: 0;
	padding: 1px 0 0;
}
img.goog-te-gadget-icon {
	display: none;
}
.goog-te-menu-value span{
	color: #fff !important;
}
.goog-te-menu-value span:hover{
	text-decoration: none;
}
.goog-te-gadget-simple{
	background-color: transparent !important; 
	border: none !important; 
}
a.goog-te-menu-value:hover {
	text-decoration: none !important;
}